footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: rgb(70, 70, 70);
  /* background: linear-gradient(
    210deg,
    #444,
    #111
  ); */
  padding: 8px;
  color: #ddd;
}
